{
  "ietf-yang-library:modules-state": {
    "module-set-id": "",
    "module": [
      {
        "name": "ietf-l3vpn-ntw",
        "namespace": "urn:ietf:params:xml:ns:yang:ietf-l3vpn-ntw",
        "revision": "",
        "conformance-type": "implement",
        "feature": []		  
      },
      {
        "name": "ietf-vpn-common",
        "namespace": "urn:ietf:params:xml:ns:yang:ietf-vpn-common",
        "revision": "",
        "conformance-type": "implement",
        "feature": []     
      }
    ]
  }
}
